body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#2b2799, #1d1a66, #15134d, #0e0d33, #07071a);
  background-attachment: fixed;
}
#burger-menu + #ul-hero {
  z-index: 1000;
}
#burger-menu.active + #ul-hero {
  opacity: 1;
  visibility: visible;
  top: 50px;
}
@media (max-width: 639px) {
  #burger-menu + #ul-hero {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem;
    color: white;
    position: absolute;
    left: 0;
    top: -5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  #ul-hero a li,
  #ul-hero li {
    transition: 0.5s;
    transform: translateY(30px);
  }
  #email {
    text-align: center;
  }
  #contact-info {
    margin-bottom: 20px;
  }
  #push-down.ul-active {
    transform: translateY(140px);
    opacity: 0.3;
  }
}
#about.disappeared {
  transform: translateY(50px);
  opacity: 0;
}
#contact.disappeared {
  transform: translateY(50px);
  opacity: 0;
}
#burger-menu.active + #ul-hero a li,
#burger-menu.active + #ul-hero li {
  opacity: 1;
  transform: translateY(0);
}
#burger-menu.active + #ul-hero a:first-of-type li {
  margin-top: 0;
}
#home.active {
  left: 0;
  opacity: 1;
}
#login-main-mutton.active {
  bottom: 0;
  opacity: 1;
}
#ul-hero a li {
  position: relative;
  transition: 0.3s;
}
#ul-hero a li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0e0d33;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: center center;
}
#ul-hero a:hover li::before {
  transform: scaleX(1);
}
#email {
  text-align: center;
}
#contact-send div::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: white;
  bottom: -3px;
  right: 0;
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
  color: white;
}
#login-main-mutton {
  cursor: pointer;
}
#login-main-mutton p:hover {
  background-color: transparent;
}
@media (min-width: 992px) {
  #about {
    width: 50%;
  }
  #contact {
    width: 50%;
  }
}

#message textarea {
  resize: none;
}
#contact-main input,
#contact-main textarea {
  outline: none;
  border: none;
}
#submit {
  background-color: rgb(145, 145, 11);
  cursor: pointer;
  transition: 0.2s;
}
#submit:hover {
  background-color: transparent;
}
